.conatiner{
    color: gray !important;
    
}
.description{
    width: 300px;
}
img{
    width: 100px;
}
.bg-gray{
    background-color: rgb(228, 219, 219);
}
.card-footer{
    text-align: center;
    border-top: none;
}
.card-body{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 3px 3px 10px lightgray;
}
.margin{
    margin-bottom: 100px;
    
}
.margin-top{
    margin-top: 100px;
}
.see-all{
    text-decoration: none;
    color:chocolate;
    
}
.heading{
    margin-bottom: 50px;
}
p{
    color: gray;
}
.bottom{
    margin-top: 100px;
}
.col-md-6 img{
    width: 400px;
    height: 300px;
}
.col-md-3 img{
    padding: 30px;
    width: 150px;
    height: 150px;
}
h2{
    text-align: center;
    color: black;
    
}
